
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');


html, body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;

}


nav, .sidenav, h1, h2, h3, h4, h5 {
  font-family: 'Major Mono Display', sans-serif;
  box-shadow: none;
  -webkit-box-shadow: none;
}

h1, h2, h3, h4, h5 {
  color: #006580;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  font-size: 1.2rem;
}



.sidenav {
  padding-top: 1rem;
}
.sidenav li>a, nav ul a {
    font-size: 1.25rem;
}

.sidenav li>a:hover {
    background-color: #B0F0F2;
}



nav .brand-logo {
  font-size: 1.2rem;
}

nav {
    background-color: #000;
}

nav .brand-logo, nav ul a, nav a {
}

nav .brand-logo{
    margin-left: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 750px;
    width: 75%;
    font-size: 1.25rem;

}

.page-footer {
    color: #000;
    background-color: #76C1CC;
}

a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

strong, b {
    font-weight: 700;
}

.divider {
    height: 3px;
    overflow: hidden;
    background-color: #eee;
}

.andrea {
  font-size: 3rem;
}

h2.section, .andrea, h3.section {
   text-shadow: 1px 1px #76C1CC,
                2px 2px #76C1CC,
                3px 3px #76C1CC;
}
h2.section a:hover, .andrea a:hover, h3.section a:hover {
   position: relative;
   top: -3px;
   left: -3px;
   text-shadow: 1px 1px #76C1CC,
                2px 2px #76C1CC,
                3px 3px #76C1CC,
                4px 4px #76C1CC,
                5px 5px #76C1CC,
                6px 6px #76C1CC;
}

div.special {
   color: #76C1CC;
   font-size: 3rem;
   text-align: center;
   padding-bottom: 1rem;

}

div.special2 {
   color: #000;
   font-size: 1.5rem;
   text-align: center;
   padding-bottom: 2rem;
}


/* div.photos {
  padding-top: 3rem;
} */

.main a {
  color: #006580;
}


footer a {
  color: #fff;
}

footer ul>li {
      display: inline-block;
}

footer a:hover {
  color: #000;
}

li {
  padding-bottom: 1rem;
}

li:last-child
{padding-bottom: 0;}


div.main p a, div.main li a, table a, .pub-item a {
  text-decoration: underline;
  text-decoration-color: #76C1CC;

}
div.main p a:hover, div.main li a:hover, table a:hover, .pub-item a:hover{
  text-decoration: none;
  background-color: #B0F0F2;
  color: black;

}

table.blueTable {
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 1rem;

}

table.blueTable tr:nth-child(odd) {
  background: #f7f8f9;
}

tr {
    border-bottom: 0;
}

.pub-item {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 750px) {

.andrea {
    font-size: 2rem;
}
}

@media only screen and (max-width: 500px) {
  h1, h2, h3, h4, h5 {
    font-size: 1.25rem;
  }
  nav .brand-logo {
    margin-left: 0;
    font-size: 1rem;
}
.andrea {
    font-size: 1.5rem;
}

div.special, div.special2 {
  display: none;
}


}
@media only screen and (max-width: 400px) {
  /* nav .brand-logo {
    font-size: 1.2rem;
  } */
  .andrea {
    font-size: 1rem;
}
  h1, h2, h3, h4, h5
  {
    font-size: 1rem;

  }

  nav .brand-logo {
    font-size: 0.8rem;
  }



}


#contact a {
  color: black;
     text-shadow: 1px 1px #B0F0F2,
                2px 2px #B0F0F2,
                3px 3px #B0F0F2;
}
#contact a:hover {
   position: relative;
   top: -3px;
   left: -3px;
   text-shadow: 1px 1px #B0F0F2,
                2px 2px #B0F0F2,
                3px 3px #B0F0F2,
                4px 4px #B0F0F2,
                5px 5px #B0F0F2,
                6px 6px #B0F0F2;
}

.footer-copyright
{
  text-align: center;

  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}
