---
layout: base
---

<label>Font for Headings</label>
<select class="browser-default" id="input-font"  onchange="changeHeadingsFont (this);">
  <option value="" disabled selected>Choose your option</option>
  <option value="Times New Roman">Times New Roman</option>
  <option value="Comfortaa">Comfortaa</option>
  <option value="Playfair Display">Playfair Display</option>
  <option value="Raleway Dots">Raleway Dots</option>
  <option value="Major Mono Display">Major Mono Display</option>
</select>

<label>Font for Body</label>
<select class="browser-default" id="input-font"  onchange="changeBodyFont (this);">
  <option value="" disabled selected>Choose your option</option>
  <option value="Times New Roman">Times New Roman</option>
  <option value="Open Sans">Open Sans</option>
  <option value="Open Sans Condensed">Open Sans Condensed</option>
</select>





<!-- <div class="input-field col s12">

     <select id="input-font" class="input"  onchange="changeFont (this);">
      <option value="Times New Roman" selected ="selected">Times New Roman</option>
      <option value="Arial">Arial</option>
    </select>
  </div> -->

<script>
    function changeBodyFont(font){
      document.getElementsByTagName("body")[0].style.fontFamily = font.value;
      document.getElementsByTagName("html")[0].style.fontFamily = font.value;
    }

    function changeHeadingsFont(font){
      elements =$("h1, h2, h3, h4, h5, h6, nav, .sidenav");
      for (var i=0, item; item = elements[i]; i++) {
         console.log(item);
        item.style.fontFamily = font.value;
      }
        // document.getElementsByTagName("h2")[0].style.fontFamily = font.value;
        // document.getElementsByTagName("h3")[0].style.fontFamily = font.value;
        // document.getElementsByTagName("h4")[0].style.fontFamily = font.value;
        // document.getElementsByTagName("h5")[0].style.fontFamily = font.value;
        // document.getElementsByTagName("h6")[0].style.fontFamily = font.value;
    }
</script>




{% include andrea.html %}

<div class="divider"></div>

{% include current_position.html %}

<div class="divider"></div>

{% include education_experience.html %}

<div class="divider"></div>

<a class="anchor" name="publications"></a>
{% include publications.html %}

<div class="divider"></div>

{% capture my_include %}{% include grants.md %}{% endcapture %}
{{ my_include | markdownify }}

<div class="divider"></div>

{% capture my_include %}{% include fellowships.md %}{% endcapture %}
{{ my_include | markdownify }}

<div class="divider"></div>

{% capture my_include %}{% include keynotes.md %}{% endcapture %}
{{ my_include | markdownify }}

<div class="divider"></div>

{% capture my_include %}{% include research_interests.md %}{% endcapture %}
{{ my_include | markdownify }}

<div class="divider"></div>

{% capture my_include %}{% include teaching_interests.md %}{% endcapture %}
{{ my_include | markdownify }}
