---
layout: base
---

{% include andrea.html %}

<div class="divider"></div>

{% include current_position.html %}

<div class="divider"></div>

{% include education_experience.html %}

<div class="divider"></div>

<a class="anchor" name="publications"></a>
{% include publications.html %}

<div class="divider"></div>
{% include grants.html %}

<div class="divider"></div>
{% include fellowships.html %}

<div class="divider"></div>
{% include keynotes.html %}

<div class="divider"></div>
{% include research_interests.html %}

<div class="divider"></div>
{% include teaching_interests.html %}
