<a class="anchor" name="current_position"></a>
<h2 class="section"><a href="#current_position">Current Position</a></h2>

<ul>
<li><b><a href="https://www.ru.nl/english/people/?zoeken_term=andrea+martin&servicebalk-zoekbereik=https%3A%2F%2Fwww.ru.nl%2Fenglish%2Fpeople%2F">Principal Investigator</a></b>,
Language and Computation in Neural Systems Group,
<a href="https://www.ru.nl/donders/">Donders Centre</a> for Cognitive Neuroimaging (DCCN),
Radboud University,
Nijmegen, The Netherlands</li>

<li><b><a href="https://www.mpi.nl/people/martin-andrea-e">Group Leader</a></b>,
<a href="https://www.mpi.nl/">Max-Planck Institute for Psycholinguistics</a>,
Nijmegen, The Netherlands</li>
</ul>
