<a class="anchor" name="education_experience"></a>
<h2 class="section"><a href="#education_experience">Education and Experience</a></h2>
<table class="blueTable">
	<tbody>
		<tr>
			<td style="width: 9rem">2018–2019</td>
			<td>Senior Investigator, Psychology of Language Department (PoL), MPI</td>
		</tr>
		<tr>
			<td>2016–2017</td>
			<td>Staff Scientist, PoL, MPI</td>
		</tr>
		<tr>
			<td>2012–2017</td>
			<td>Lecturer (US Assistant Professor) in Psychology,<br />School of Philosophy, Psychology and Language Sciences, The University of Edinburgh, Scotland, UK<br /><br /> Maternity leave in 2014<br /><br /></td>
		</tr>
		<tr>
			<td>2010–2012</td>
			<td>Postdoctoral researcher<br />Basque Center on Cognition, Brain, and Language (BCBL), Donostia–San Sebasti&aacute;n, Spain<br /></td>
		</tr>
		<tr>
			<td>2010</td>
			<td>Ph.D. <a href="https://as.nyu.edu/psychology.html">Experimental Psychology</a>, <a href="http://www.nyu.edu/">New York University</a>, New York, NY, USA.</td>
		</tr>
		<tr>
			<td>2006</td>
			<td>M.A. General Psychology, NYU</td>
		</tr>
		<tr>
			<td>2004</td>
			<td>B.A. Cognitive Science, <a href="https://www.hampshire.edu/">Hampshire College</a>, Amherst, MA, USA.</td>
		</tr>
		<tr>
			<td>1999–2000</td>
			<td>Columbia University, New York, NY, USA.</td>
		</tr>
		<tr>
			<td>1997–1999</td>
			<td><a href="https://www.massacademy.org/">Massachusetts Academy of Math and Science</a></td>
		</tr>
	</tbody>
</table>
