<footer class="page-footer">
  <div class="container">
    <div class="row">
        <h2 class="footer">Contact</h2>
        <div class="col l6 s12">

        <a class="anchor" name="contact"></a>

        <p class="grey-text text-lighten-4">
          {% capture my_include %}{% include emails.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="" href="https://orcid.org/0000-0002-3395-7234">0000-0002-3395-7234</a></li>
          <li><a class="" href="#!">Link 2</a></li>
          <li><a class="" href="#!">Link 3</a></li>
          <li><a class="" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <a>© 2019–{{ site.time | date: '%y' }} Andrea E. Martin</a>
    <a class="right" href="#top">Top of page</a>
    </div>
  </div>
</footer>
