<footer class="page-footer">
  <div class="container">
    <div class="row">
        <a class="anchor" name="contact"></a>
        <h2 class="footer" id="contact"><a href="#contact">Contact<a/></h2>
        <div class="col l6 s12">


        <p class="grey-text text-lighten-4">
          {% capture my_include %}{% include emails.md %}{% endcapture %}
          {{ my_include | markdownify }}
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="" href="https://orcid.org/0000-0002-3395-7234"><i class="ai ai-orcid ai-3x"></i>
</a></li>
          <li><a class="" href="https://scholar.google.com/citations?user=54_vS5gAAAAJ&hl=en"><i class="ai ai-google-scholar ai-3x"></i>
</a></li>
<li><a class="" href="https://twitter.com/andrea_e_martin"><i class="fab fa-twitter fa-3x"></i>
</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">

    <div class="container">

    2019–{{ site.time | date: '%y' }} Andrea E. Martin (<a href="https://github.com/oliviaguest/andrea.science">code</a>: <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>)


</div>
  </div>
</footer>
