<a class="anchor" name="keynotes"></a>
<h2 class="section"><a href="#keynotes">Keynotes</a></h2>

<ul>
<li>Architectures and Mechanisms for Language Processing (AMLaP), Potsdam, Germany. September, 2020.</li>

<li><a href="https://cdnapisec.kaltura.com/index.php/extwidget/preview/partner_id/1770401/uiconf_id/28589212/entry_id/0_pwu2fuay/embed/dynamic">The 31st annual CUNY Human Sentence Processing Conference</a>, UC Davis, California. March, 2018. <a href="https://cdnapisec.kaltura.com/index.php/extwidget/preview/partner_id/1770401/uiconf_id/28589212/entry_id/0_pwu2fuay/embed/dynamic"><i class="fas fa-video"></i></a></li>

<li>Brain Rhythms and Cortical Computation. University of Geneva, Switzerland. October, 2017.</li>

<li><a href="https://vimeo.com/237637460">The Neural Oscillations of Speech and Language Processing</a>. Berlin, Germany, May 2017. <a href="https://vimeo.com/237637460"><i class="fas fa-video"></i></a></li>
</ul>
