<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="{{ site.baseurl }}#top" class="brand-logo">Andrea E. Martin</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}#publications">Publications</a></li>
        <li><a href="{{ site.baseurl }}#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{ site.baseurl }}#publications">Publications</a></li>
  <li><a href="{{ site.baseurl }}#contact">Contact</a></li>
</ul>
